<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BULLGYM</title>
    <link rel="shortcut icon" href="./../galeria/torogym.avif" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header class="header">
<!--Menú y secciones en la sección de precios-->
        <div class="menu container">
            <a href="#" class="logo">
            </a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <ima src="./../favicon.html/logotipo.jpg" class="menu-icon" alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li> <a href="./../views/index.html">Inicio</a></li>
                    <li><a href="./../views/index.html">Servicios</a>
                        <ul>
                            <li><a href="#">ASESORAMIENTO DEPORTIVO</a></li>
                            <li><a href="#">ASESORAMIENTO NUTRICIONAL</a></li>
                            <li><a href="#">MATERIAL DE PRIMERA CALIDADs</a></li>

                        </ul>
                    </li>

                    <li> <a href="./../views/productos.html">Galeria</a></li>

                    <li> <a href="./../views/contacto.html">Contactos</a>
                        <ul>
                            <li><a href="#">Tlf:686972533</a></li>
                            <li><a href="#">gmail: bullgymfitnes@gmail.es</a></li>
                            <li><a>UBICACION:</a></li>

                        </ul>
                    </li>
                    <li><a href="./../views/presupuesto.html">PRECIOS</a></li>
                </li>
            </nav>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>BULLGYM</h1>

                <p>Si estas buscando un cambio fisico , quieres alcanzar tu maximo potencial en el deporte que pracrticas, o simplemente te gusta el deporte y quieres disfrutar en grupo, !En BULLGYM tienes todo lo que estas buscando¡
                </p>
                <a href="#" class="btn-1">informacion</a>
                

            </div>


        </div>

    </header>
<!--Tabla de precios-->

    <section class="table1">
        <table>
            <tr>
                <th>ENTRENAMIENTOS</th>
                <th>PRECIO MENSUAL</th>
                <th>DIAS</th>
            </tr>
            <tr>
                <td>BOXEO</td>
                <td>39,99€</td>
                <td> 3 dias a la semana </td>

            </tr>
            <tr>
                <td>PILATES</td>
                <td>25,99€</td>
                <td>2 dias a la semana</td>
            </tr>
            <tr>
                <td>SPINNING + SALAFITNES</td>
                <td>49,99€</td>
                <td>todos los dias de la semana</td>
            </tr>
            <tr>
                <td>CROSSFIT</td>
                <td>45€</td>
                <td>3 dias a la semana</td>
            </tr>
            <tr>
                <td>SALA FITNES + CROSSFIT</td>
                <td>75€</td>
                <td>Todos los dias</td>
            </tr>
            <tr>
                <td>SALA FITNES</td>
                <td>30€</td>
                <td>Todos los dias</td>
            </tr>
            
           
        </table>
        <div class="container-presupuesto">
        <p>LOS ENTRENAMIENTOS INDIVIDUALES SON 15€ LA HORA</p>
        <P>EL ASESORAMIENTO NUTRICIONAL BASICO ENTRA EN CUALQUIER CUOTA, EL ASESORAMIENTO NUTRICIONAL ESPECIFICO CON UN NUTRICIONISTA SON 40€ AL MES</P>
        </div>
    </section>
    <!--formulário-->

    <footer class="footer container">
            <div class="footer-content"> 
                <div class="footer-form">
                    <h3>Solicita una cita</h3>
                    <form action="insertar.php" method="post" enctype="multipart/form-data">
                        <input class="campo" type="text" placeholder="nombre" required>
                        <input class="campo" type="email" placeholder="correo" required>
                        <input class="campo" type="telefono" placeholder="telefono" required>
                        <textarea class="campo" type="Solicite mas informacion" placeholder="Solicite mas informacion" cols="30" rows="10" required></textarea>
                        <label class="checkbox">
                        ACEPTO LA POLITICA DE PRIVACIDAD<input type="checkbox" id="checkbox" name="Acepto la politica de privacidad" required>
                        </label>
                        <input class="btn-2" type="submit" value="enviar">
                        
                    </form>
    
                </div>
        <!--redes sociales-->

            <div class="social-media1">

                <a href="http://www.instagram.com/">
                    <img src="./../assets/instagram_ig_logo_icon_181651.png" alt="instagram">
            
                </a>
                <a href="http://www.facebook.com/">
                    <img src="./../assets/facebook_icon-icons.com_53612.png" alt="instagram">
            
                </a>
            </div>

            <p class="footer-p1">Copyright© 2024 BULLGYM</p>
    </footer>


    
    
</body>
</html>