<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BULLGYM</title>
    <link rel="shortcut icon" href="./../assets/images/torogym.avif" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<!--Menú en prodcutos-->
<body class="body-pro">
    <header class="header">

        <div class="menu container">
            <a href="#" class="logo"></a>
            
            <input type="checkbox" id="menu"/>

            <label for="menu">
                <ima src="./../favicon.html/logotipo.jpg" class="menu-icon" alt="">
            </label>

            <nav class="navbar">
                <ul>
                    <li> <a href="./../views/index.html">Inicio</a></li>
                    <li><a href="./../views/index.html">Servicios</a>
                        <ul>
                            <li><a href="#">ASESORAMIENTO DEPORTIVO</a></li>
                            <li><a href="#">ASESORAMIENTO NUTRICIONAL</a></li>
                            <li><a href="#">MATERIAL DE PRIMERA CALIDADs</a></li>

                        </ul>
                    </li>

                    <li> <a href="./../views/productos.html">Galeria</a></li>

                        <li> <a href="./../views/contacto.html">Contactos</a>
                    <ul>
                        <li><a href="#">Tlf:686972533</a></li>
                        <li><a href="#">gmail: bullgymfitnes@gmail.es</a></li>

                    </ul>
                    <li><a href="./../views/presupuesto.html">PRECIOS</a></li>
                </li>
            </nav>

        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>BULLGYM</h1>

                <p>Si estas buscando un cambio fisico , quieres alcanzar tu maximo potencial en el deporte que pracrticas, o simplemente te gusta el deporte y quieres disfrutar en grupo, !En BULLGYM tienes todo lo que estas buscando¡
                </p>
                <a href="#" class="btn-1">informacion</a>
                

            </div>


        </div>

    </header>
    <!--Galería de nuestros servícios-->
    <section class="direction-container2">
        <h2>GALERIA DEL CENTRO DEPORTIVO</h2>
        
    </section>
    <div class="row">
        <div class="box">
            <img src="./../assets/images/boxeo.jpg" alt="BOXEO">
            <img src="./../assets/images/PILATES.jpg" alt="PILATES">
            <img src="./../assets/images/SPINING.jpg" alt="spining">
            <img src="./../assets/images/gymnew.jpg" alt="Salafitnes">
            <img src="./../assets/images/GYMDOS.jpg" alt="gym">
            <img src="./../assets/images/GYMTRES.jpg" alt="gym">
            <img src="./../assets/images/GYMCUATRO.jpg" alt="gym">
            <img src="./../assets/images/GYMCINCO.jpg" alt="gym">
            <img src="./../assets/images/GYMSEIS.jpg" alt="gym">
            <img src="./../assets/images/gymsiete.jpeg" alt="gym">
        </div>
    </div>
    
   


    
      <!--Redes sociales-->
    
        <footer class="social-media">
            <a href="http://www.instagram.com/">
                <img src="./../assets/instagram_ig_logo_icon_181651.png" alt="instagram">
        
            </a>
            <a href="http://www.facebook.com/">
                <img src="./../assets/facebook_icon-icons.com_53612.png" alt="instagram">
            
            </a>

            <p class="footer-p">Copyright© 2024 BULLGYM</p>
        </footer>
             

        


    


    
    
</body>
</html>